:root {
    --border-focused-false: rgb(119, 129, 145, 1);
    --border-focused-true: rgb(144, 191, 223);
    --main-color: #;
}

* {
    transition: all ease-in-out 0.3s;
}

body {
    background-color: rgb(239, 239, 239, 1);
    transition: all ease-in-out 0.8s;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    border-left: 5px solid var(--border-focused-false);
}

button {
    background-color: #55608f;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    padding: 6px 25px;
    margin-top: 4px;
    border-radius: 5px;
    word-spacing: 10px;
    border-left: none;
    cursor: pointer;
}

button:hover {
    background-color: #55608f;
}

#prevBtn {
    background-color: #55608f;
}

#prevBtn:hover {
    background-color: #55608f;
}

form h1 {
    text-align: center;
    color: #55608f;
}

.containerForm {
    border-radius: 17px;
    color: black;
    padding: 20px;
    margin: 20px auto;
    width: 30vw;
    padding-top: 60px;
    position: relative;
    box-shadow: 0 0 10px;
}

.inputSuccessLightThem {
    border-left: 5px solid;
    border-color: var(--border-focused-true);
}

.inputFaildLightThem {
    border-color: var(--border-focused-false);
}


/* Hide all steps by default: */

.tab {
    display: none;
    transition: 1s;
}

.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}


/* Mark the active step: */

.step.active {
    opacity: 1;
}


/* Mark the steps that are finished and valid: */

.step.finish {
    background-color: #55608f;
}

@media (max-width:800px) {
    .containerForm {
        width: 70vw;
    }
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.controls.both {
    justify-content: flex-end;
}

.tab img {
    width: 50%;
    margin-left: 25%;
}

/* users style */
table {
    width: 95vw;
    text-align: center;
    border-collapse: collapse;
    overflow: hidden;
    margin: 1rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 2rem;
    font-size: 1.5rem;
    width: 100px;
    background-color: rgba(255, 255, 255, 0.2);
    color: rgb(53, 86, 146);

    margin-top: .3rem;
}

thead th {
    background-color: #55608f;
    color: #fff;
}

tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

tbody td {
    position: relative;
}

tbody td:hover::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: -1;
}